:root {
  --color-title: #ffffff;
  --color-text: #fefefe;
  --color-bg: #22242b;
  --color-border: #15161b;
  --color-selection: rgba(255, 255, 255, 0.2);

  --color-daily: #00bfef;
  --color-seagreen: #29b0a3;
  --color-mango: #fac456;
  --color-carrot: #e88d32;
  --color-violet: #d860f0;
  --color-green: #52ac3f;
  --color-crayonblue: #5a91ee;
}

@font-face {
  font-family: 'Lora';
  src: url('lora-bold.woff2') format('woff2'), url('lora-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('karla-regular.woff2') format('woff2'), url('karla-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('karla-bold.woff2') format('woff2'), url('karla-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html, body, h1, h2, div, p, a, span {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  background: var(--color-bg);
}

html {
  height: 100%;
}

::selection {
  background: var(--color-selection);
}

body {
  min-height: 100%;
  border-left: 20px solid var(--color-border);
  border-right: 20px solid var(--color-border);
}
body::before,
body::after {
  content: "";
  position: fixed;
  background: var(--color-border);
  left: 0;
  width: 100%;
  height: 20px;
}
body::before {
  top: 0;
}
body::after {
  bottom: 0;
}
@media screen and (max-width: 1000px) {
  body {
    border-left-width: 15px;
    border-right-width: 15px;
  }
  body::before,
  body::after {
    height: 15px;
  }
}
@media screen and (max-width: 660px) {
  body {
    border-left-width: 10px;
    border-right-width: 10px;
  }
  body::before,
  body::after {
    height: 10px;
  }
}

.container {
  max-width: 850px;
  padding: 100px 50px 100px 50px;
}
@media screen and (max-width: 1000px) {
  .container {
    max-width: 580px;
    padding: 60px 30px 60px 30px;
  }
}
@media screen and (max-width: 660px) {
  .container {
    max-width: 100%;
    padding: 40px 20px 40px 20px;
  }
}

.title {
  position: relative;
  font-family: Lora, Georgia, serif;
  font-size: 70px;
  margin: 0 0 40px 0;
  color: var(--color-title);
}
@media screen and (max-width: 1000px) {
  .title {
    font-size: 50px;
    margin: 0 0 30px 0;
  }
}
@media screen and (max-width: 660px) {
  .title {
    font-size: 38px;
    margin: 0 0 20px 0;
  }
}

.text {
  font-family: Karla, Helvetica, sans-serif;
  font-size: 26px;
  text-align: left;
  font-weight: 400;
  line-height: 38px;
  margin: 0 0 20px 0;
  color: var(--color-text);
}
@media screen and (max-width: 1000px) {
  .text {
    font-size: 24px;
    line-height: 34px;
    margin: 0 0 15px 0;
  }
}
@media screen and (max-width: 660px) {
  .text {
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 12px 0;
    text-align: justify;
  }
}

.link, .link:visited {
  position: relative;
  text-decoration: none;
  font-weight: 600;
}
.link:after {
  position: absolute;
  content: '';
  width: 0;
  left: 50%;
  bottom: -3px;
  border-bottom: 3px solid;
}
.link:hover:after {
  width: 100%;
  left: 0;
  transition: width 250ms, left 250ms;
}

.link--daily {
  color: var(--color-daily);
}

.link--daily:after {
  border-color: var(--color-daily);
}

.link--seagreen {
  color: var(--color-seagreen);
}

.link--seagreen:after {
  border-color: var(--color-seagreen);
}

.link--mango {
  color: var(--color-mango);
}

.link--mango:after {
  border-color: var(--color-mango);
}

.link--carrot {
  color: var(--color-carrot);
}

.link--carrot:after {
  border-color: var(--color-carrot);
}

.link--violet {
  color: var(--color-violet);
}

.link--violet:after {
  border-color: var(--color-violet);
}

.link--green {
  color: var(--color-green);
}

.link--green:after {
  border-color: var(--color-green);
}

.link--crayonblue {
  color:  var(--color-crayonblue);
}

.link--crayonblue:after {
  border-color: var(--color-crayonblue);
}
